openapi: 3.2.0
info:
  title: Intelligems External Fetch Experience Data API
  version: v25-10-beta
  description: Programmatic access to manage Intelligems A/B tests, personalizations, and experiences, to define custom events, and to pull experiment and sitewide analytics for a Shopify store. Authenticate with an API key in the `intelligems-access-token` header.
  contact:
    name: Intelligems
    url: https://docs.intelligems.io/developer-resources/external-api
servers:
- url: https://api.intelligems.io
  description: Production
security:
- intelligems_access_token: []
tags:
- name: Fetch Experience Data
paths:
  /v25-10-beta/analytics/experience/{experienceId}/timeseries:
    post:
      tags:
      - Fetch Experience Data
      description: 'Retrieve per-variant time series data for an experience (A/B test).


        ## POST /analytics/experience/{experienceId}/timeseries


        Returns metric values over time for each variation in the experiment, segmented by variation name. Use this data to compare variant performance over time and compute signals like "win-day count" (how many periods a variant beat control).


        ### Parameters


        - `experienceId` (path) — **required**. UUID of the experience.

        - `granularity` — optional time bucketing: `hour`, `day` (default), `week`, or `month`.

        - `mode` — `cumulative` (default, running totals) or `noncumulative` (per-bucket values).

        - `metrics` — optional array of metric enum values to include (see table below). Defaults to `conversion_rate`, `net_revenue_per_visitor`, `gross_profit_per_visitor`.

        - `startTs` — optional 10-digit epoch timestamp in seconds. Defaults to experience start date.

        - `endTs` — optional 10-digit epoch timestamp in seconds. Defaults to now or experience end date.

        - `filters` — optional analytics filters object. See below and the Filters Reference for available fields.


        ### Available Metrics


        Pass one or more of these enum values in the `metrics` array:


        | Value | Description |

        | -------------------------- | ------------------------- |

        | `conversion_rate` | Conversion rate |

        | `net_revenue_per_visitor` | Revenue per visitor (RPV) |

        | `gross_profit_per_visitor` | Profit per visitor (PPV) |

        | `aov` | Average order value |

        | `n_visitors` | Visitor count |

        | `n_orders` | Order count |

        | `net_revenue` | Total net revenue |


        ### Filters


        This endpoint accepts the same filters as `POST /analytics/resource/{experienceId}`. Key filters include:


        | Field | Type | Description |

        | ------------------------ | -------- | --------------------------------------------------------- |

        | `deviceType` | string | `"any"`, `"mobile"`, or `"desktop"` |

        | `visitorType` | string | `"any"`, `"new"`, or `"returning"` |

        | `countryCodes` | string[] | ISO 3166-1 alpha-2 codes, e.g. `["US", "GB"]` |

        | `sourceSitesOrChannels` | string[] | Traffic channel names (see Filters Reference) |

        | `userBehavior` | object | Visitor behavior filter (see sub-fields below) |

        | `experimentProductsOnly` | boolean | Only include products in the experiment (target products) |

        | `onlyProductIds` | string[] | Shopify product IDs to include |

        | `onlyProductHandles` | string[] | Shopify product handles to include |


        #### `userBehavior` sub-fields


        All fields are optional booleans. Set to `true` to filter to only visitors who performed that action.


        | Field | Description |

        | ---------------------- | -------------------------------- |

        | `viewedProductPage` | Visitor viewed a product page |

        | `viewedCollectionPage` | Visitor viewed a collection page |

        | `addedToCart` | Visitor added an item to cart |

        | `viewedCheckout` | Visitor reached checkout |


        See the Filters Reference section for the full list of available filter fields.


        ### Response Structure


        The response contains a `segments` object keyed by variation name. Each segment has a `data` array of time-bucketed metric values. A `variations` array provides metadata including which variation is the control.


        Each data point includes a `dt` field as a formatted date string (not Unix epoch). Format depends on `granularity`:


        - `hour` / `day`: `"YYYY-MM-DD HH:mm:ss"`

        - `week` / `month`: `"YYYY-MM-DD"`


        ### Date Range Behavior


        - When `startTs` and `endTs` are omitted, the date range defaults to the experience''s full lifetime (start date through end/pause date or now).

        - If the experience is **paused** or **ended**, the response is automatically truncated at the pause/end date — no data points are returned after that point.

        - If the provided `startTs` is before the experience start date, it is clamped to the experience start. Similarly, `endTs` is clamped to the experience end/pause date.'
      parameters:
      - in: path
        name: experienceId
        schema:
          type: string
          format: uuid
          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                startTs:
                  description: Optional analysis start timestamp as a 10-digit Unix epoch string in seconds. Defaults to the experience start date.
                  type: string
                endTs:
                  description: Optional analysis end timestamp as a 10-digit Unix epoch string in seconds. Defaults to now or the experience end date.
                  type: string
                granularity:
                  default: day
                  description: 'Time bucket granularity. Supported values: hour, day, week, month. Defaults to day.'
                  type: string
                  enum:
                  - hour
                  - day
                  - week
                  - month
                mode:
                  default: cumulative
                  description: Time series mode. Use 'cumulative' for running totals or 'noncumulative' for per-bucket values. Defaults to cumulative.
                  type: string
                  enum:
                  - cumulative
                  - noncumulative
                metrics:
                  default:
                  - conversion_rate
                  - net_revenue_per_visitor
                  - gross_profit_per_visitor
                  description: Array of metric names to include in the response. When omitted, defaults to conversion_rate, net_revenue_per_visitor, and gross_profit_per_visitor. Profit metrics (e.g. gross_profit_per_visitor) require COGS to be configured for the store; when COGS are not configured (cogsConfigured is false) their values are null. Check the top-level cogsConfigured / cogsCoveragePct fields.
                  type: array
                  items:
                    type: string
                    enum:
                    - conversion_rate
                    - net_revenue_per_visitor
                    - gross_profit_per_visitor
                    - aov
                    - n_visitors
                    - n_orders
                    - net_revenue
                filters:
                  description: 'Optional analytics filters object. Supports device, visitor, traffic source, country, product, and targeting filters.


                    Analytics filters object for narrowing experience/experiment result data.'
                  type: object
                  properties:
                    deviceType:
                      description: 'Filter by device type. Options: ''any'' (disables filter), ''mobile'', ''desktop''. Omit or null to include all devices.'
                      anyOf:
                      - type: string
                        enum:
                        - any
                        - mobile
                        - desktop
                      - type: 'null'
                    visitorType:
                      description: 'Filter by visitor type. Options: ''any'' (disables filter), ''new'', ''returning''. Omit or null to include all visitors.'
                      anyOf:
                      - type: string
                        enum:
                        - any
                        - new
                        - returning
                      - type: 'null'
                    customerType:
                      description: 'Filter experiment analytics by customer type. Options: ''new'', ''returning''. Omit or null to include all customers.'
                      anyOf:
                      - type: string
                        enum:
                        - new
                        - returning
                      - type: 'null'
                    sourceSitesOrChannels:
                      description: 'Filter by traffic source channels. These 25 values are the complete accepted set — the channels the analytics service buckets sessions and orders into — and any other value is rejected with a 400: ''Instagram'', ''Facebook'', ''Google'', ''Twitter'', ''TikTok'', ''Youtube'', ''Klaviyo'', ''Attentive'', ''Postscript'', ''Paid Shopping'', ''Paid Search'', ''Paid Social'', ''Paid Video'', ''Display'', ''Paid Other'', ''Organic Shopping'', ''Organic Social'', ''Organic Video'', ''Organic Search'', ''Other'', ''Referral'', ''Affiliate'', ''SMS'', ''Email'', ''Direct''. Omit or pass an empty array for all channels — there is no ''any'' sentinel.'
                      type: array
                      items:
                        type: string
                        enum:
                        - Instagram
                        - Facebook
                        - Google
                        - Twitter
                        - TikTok
                        - Youtube
                        - Klaviyo
                        - Attentive
                        - Postscript
                        - Paid Shopping
                        - Paid Search
                        - Paid Social
                        - Paid Video
                        - Display
                        - Paid Other
                        - Organic Shopping
                        - Organic Social
                        - Organic Video
                        - Organic Search
                        - Other
                        - Referral
                        - Affiliate
                        - SMS
                        - Email
                        - Direct
                    urlParam:
                      description: 'Filter by URL query parameter. Object with: queryParam (string|null — the parameter name), queryParamValue (string|null — the value to match), queryParamFilterType (match operator|null: ''equals'', ''contains'', ''startsWith'', ''endsWith'', ''doesNotEqual'', ''doesNotContain'', ''doesNotStartWith'', ''doesNotEndWith'', ''isNull'', ''isNotNull''). REQUIRED COMBINATIONS (enforced with a 400): when queryParamFilterType is set, queryParam must be a non-empty string; every operator except ''isNull''/''isNotNull'' also requires a non-empty queryParamValue; ''isNull''/''isNotNull'' take no value, so leave queryParamValue null. Omit all three fields to apply no query-parameter filter.'
                      type: object
                      properties:
                        queryParam:
                          anyOf:
                          - type: string
                          - type: 'null'
                        queryParamValue:
                          anyOf:
                          - type: string
                          - type: 'null'
                        queryParamFilterType:
                          anyOf:
                          - type: string
                            enum:
                            - equals
                            - contains
                            - startsWith
                            - endsWith
                            - doesNotEqual
                            - doesNotContain
                            - doesNotStartWith
                            - doesNotEndWith
                            - isNull
                            - isNotNull
                          - type: 'null'
                      required:
                      - queryParam
                      - queryParamValue
                      - queryParamFilterType
                    landingPage:
                      description: 'DEPRECATED — use landingPageFilters instead, which supports multiple values and an and/or operator. This single-path filter is retained for backwards compatibility and still works, but new integrations should use landingPageFilters. Filter by landing page URL path. Object with: landingPageUrlPath (string|null — the path to match), landingPageUrlPathFilterType (match operator|null: ''equals'', ''contains'', ''startsWith'', ''endsWith'', ''doesNotEqual'', ''doesNotContain'', ''doesNotStartWith'', ''doesNotEndWith'', ''isNull'', ''isNotNull''). REQUIRED COMBINATIONS (enforced with a 400): every operator except ''isNull''/''isNotNull'' requires a non-empty landingPageUrlPath; ''isNull''/''isNotNull'' take no path, so leave landingPageUrlPath null; and a landingPageUrlPath with no landingPageUrlPathFilterType is rejected. Omit both fields to apply no landing-page filter.'
                      deprecated: true
                      anyOf:
                      - type: object
                        properties:
                          landingPageUrlPath:
                            anyOf:
                            - type: string
                            - type: 'null'
                          landingPageUrlPathFilterType:
                            anyOf:
                            - type: string
                              enum:
                              - equals
                              - contains
                              - startsWith
                              - endsWith
                              - doesNotEqual
                              - doesNotContain
                              - doesNotStartWith
                              - doesNotEndWith
                              - isNull
                              - isNotNull
                            - type: 'null'
                        required:
                        - landingPageUrlPath
                        - landingPageUrlPathFilterType
                      - type: 'null'
                    landingPageFilters:
                      description: 'Filter by landing page URL path with multi-value support. Recommended landing page filter (supersedes the deprecated landingPage field). Array of filter items, each with: filterType (match operator: ''equals'', ''contains'', ''startsWith'', ''endsWith'', ''doesNotEqual'', ''doesNotContain'', ''doesNotStartWith'', ''doesNotEndWith'', ''isNull'', ''isNotNull'') and values (array of strings to match against). REQUIRED COMBINATIONS (enforced with a 400): every operator except ''isNull''/''isNotNull'' requires at least one non-empty entry in values — an omitted, empty, or blank-only values array is rejected rather than silently matching nothing. ''isNull''/''isNotNull'' take no values; omit the field (an empty array is tolerated, real values are rejected). Multiple values within a single item are OR''d. How items in the array are combined is controlled by landingPageFiltersOperator.'
                      type: array
                      items:
                        type: object
                        properties:
                          values:
                            type: array
                            items:
                              type: string
                          filterType:
                            type: string
                            enum:
                            - equals
                            - contains
                            - startsWith
                            - endsWith
                            - doesNotEqual
                            - doesNotContain
                            - doesNotStartWith
                            - doesNotEndWith
                            - isNull
                            - isNotNull
                        required:
                        - filterType
                    landingPageFiltersOperator:
                      description: How multiple items in landingPageFilters are combined. 'or' (default) — session matches if any filter item matches. 'and' — session must match every filter item.
                      type: string
                      enum:
                      - or
                      - and
                    userBehavior:
                      description: 'Filter by visitor browsing behavior. Object with optional boolean flags: viewedCheckout, addedToCart, viewedProductPage, viewedCollectionPage. Set a flag to true to include only visitors who performed that action. Omit or null for flags you don''t want to filter on. Multiple true flags are combined with AND logic.'
                      type: object
                      properties:
                        viewedCheckout:
                          anyOf:
                          - type: boolean
                          - type: 'null'
                        addedToCart:
                          anyOf:
                          - type: boolean
                          - type: 'null'
                        viewedProductPage:
                          anyOf:
                          - type: boolean
                          - type: 'null'
                        viewedCollectionPage:
                          anyOf:
                          - type: boolean
                          - type: 'null'
                    countryCodes:
                      description: Filter by ISO 3166-1 alpha-2 country codes (e.g. ['US', 'GB', 'CA']). Omit or pass empty array for all countries.
                      type: array
                      items:
                        type: string
                    countryCodesFilterType:
                      description: 'How countryCodes should be matched: ''include'' (only visitors in the listed countries) or ''exclude'' (visitors in any country except the listed ones). Defaults to ''include'' when omitted. Requires countryCodes to be a non-empty array.'
                      type: string
                      enum:
                      - include
                      - exclude
                    maxZScore:
                      description: Maximum Z-score threshold for outlier filtering on order revenue. Visitors with orders whose Z-score exceeds this value are excluded. Accepts number or numeric string. Null or omit to disable outlier filtering.
                      anyOf:
                      - anyOf:
                        - type: number
                        - type: string
                      - type: 'null'
                    triggeredCustomEvents:
                      description: Filter by custom event identifiers that visitors must have triggered. Requires customEventsFilterType to be set to control matching logic. Has no effect without customEventsFilterType. Pull this field from the GET https://api.intelligems.io/v25-10-beta/experiences/{experienceId} endpoint > experienceCustomMetrics > customEvent > identifier field.
                      type: array
                      items:
                        type: string
                    customEventsFilterType:
                      description: 'How triggeredCustomEvents should be matched: ''any'' (visitor triggered at least one), ''all'' (visitor triggered every listed event), ''none'' (visitor triggered none of the listed events). Requires triggeredCustomEvents to be a non-empty array.'
                      type: string
                      enum:
                      - any
                      - all
                      - none
                    reachedCheckoutStage:
                      description: 'Filter to visitors who reached at least the given checkout stage. Options: ''started'', ''contact_info_submitted'', ''address_info_submitted''. Omit or null to not filter by checkout stage.'
                      anyOf:
                      - type: string
                        enum:
                        - started
                        - contact_info_submitted
                        - address_info_submitted
                      - type: 'null'
                    minNetRevenue:
                      description: Minimum order net revenue to include (inclusive). Accepts number or numeric string. Omit or null to not apply a minimum.
                      anyOf:
                      - anyOf:
                        - type: number
                        - type: string
                      - type: 'null'
                    maxNetRevenue:
                      description: Maximum order net revenue to include (inclusive). Accepts number or numeric string. Omit or null to not apply a maximum.
                      anyOf:
                      - anyOf:
                        - type: number
                        - type: string
                      - type: 'null'
                    minShippingRevenue:
                      description: Minimum shipping revenue to include (inclusive). Accepts number or numeric string. Omit or null to not apply a minimum.
                      anyOf:
                      - anyOf:
                        - type: number
                        - type: string
                      - type: 'null'
                    maxShippingRevenue:
                      description: Maximum shipping revenue to include (inclusive). Accepts number or numeric string. Omit or null to not apply a maximum.
                      anyOf:
                      - anyOf:
                        - type: number
                        - type: string
                      - type: 'null'
                    shippingMethods:
                      description: Filter by shipping method names. Only orders using one of these methods are included.
                      type: array
                      items:
                        type: string
                    onlyProductIds:
                      description: Filter to only include specific Shopify product IDs (numeric strings).
                      anyOf:
                      - type: array
                        items:
                          type: string
                      - type: 'null'
                    landingPageTypes:
                      description: 'Filter sessions by landing page types. An array of values from: ''PDP'', ''Collection'', ''Content'', ''Blog'', ''Homepage'', ''Search'', ''Cart'', ''Other''. Omit or null to include all landing page types.'
                      type: array
                      items:
                        type: string
                        enum:
                        - PDP
                        - Collection
                        - Content
                        - Blog
                        - Homepage
                        - Search
                        - Cart
                        - Other
                    experimentProductsOnly:
                      description: When true, only include products that are part of the experiment. Only applies when analyzing an experience/experiment.
                      anyOf:
                      - type: boolean
                      - type: 'null'
                    onlyProductHandles:
                      description: Filter to only include specific Shopify product handles.
                      anyOf:
                      - type: array
                        items:
                          type: string
                      - type: 'null'
      responses:
        '200':
          description: OK
          headers:
            access-control-allow-origin:
              schema:
                type: string
              description: CORS allow-origin header.
            access-control-allow-credentials:
              schema:
                type: string
              description: CORS allow-credentials header.
            content-type:
              schema:
                type: string
              description: Response content type.
            Timing-Allow-Origin:
              schema:
                type: string
              description: Allowed origin for Timing headers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency:
                    type: string
                    description: ISO 4217 currency code for monetary values (e.g. 'USD').
                  granularity:
                    type: string
                    enum:
                    - hour
                    - day
                    - week
                    - month
                    description: The granularity used for time bucketing.
                  mode:
                    type: string
                    enum:
                    - cumulative
                    - noncumulative
                    description: The time series mode used (cumulative or discrete).
                  experienceId:
                    type: string
                    description: The UUID of the experience.
                  experienceName:
                    type: string
                    description: The display name of the experience.
                  variations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        isControl:
                          type: boolean
                      required:
                      - id
                      - name
                      - isControl
                      additionalProperties: false
                    description: Array of variation metadata objects. Each contains the variation id, name, and whether it is the control.
                  cogsConfigured:
                    description: Whether cost of goods sold (COGS) is configured for the store. When false, profit metric values (e.g. gross_profit_per_visitor) are null in every time bucket because they cannot be computed. Only present when the request includes a profit metric.
                    type: boolean
                  cogsCoveragePct:
                    description: Fraction of revenue (0-1) backed by line items that have COGS data. 0 means profit metrics are unavailable and returned as null; a value between 0 and 1 means profit reflects partial COGS coverage; 1 means full coverage. Only present when the request includes a profit metric.
                    type: number
                  segments:
                    type: object
                    propertyNames:
                      type: string
                    additionalProperties:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            type: object
                            properties:
                              dt:
                                type: string
                            required:
                            - dt
                            additionalProperties:
                              anyOf:
                              - type: number
                              - type: 'null'
                      required:
                      - data
                      additionalProperties: false
                    description: Time series data keyed by variation name. Each segment contains a data array of time-bucketed metric values. Profit metric values are null in buckets without COGS coverage; see cogsConfigured / cogsCoveragePct.
                required:
                - currency
                - granularity
                - mode
                - experienceId
                - experienceName
                - variations
                - segments
                additionalProperties: false
      summary: Create v25 10 beta analytics experience by experience id timeseries
      x-summary-source: derived
      operationId: postV2510BetaAnalyticsExperienceByExperienceIdTimeseries
      x-operation-id-source: derived
  /v25-10-beta/analytics/resource/{experienceId}:
    get:
      tags:
      - Fetch Experience Data
      description: 'Retrieve analytics data for a specific experience, including metrics, variations, and optionally graph images.


        This legacy GET endpoint is deprecated, intentionally limited to the original query-parameter contract, and kept only as a beta compatibility path. Use the POST variant on the same path for all new integrations. The GET endpoint will be removed when the beta version ends.


        Valid `view` values are `overview`, `audience`, and `post_test`. The value `summary` is not supported. When `view=audience`, you must also provide the `audience` query parameter.


        The legacy `start` and `end` query parameters must be 10-digit Unix epoch timestamps in seconds, not milliseconds.


        Response payloads include `impact` (object with `est_monthly_revenue_increase`: the projected 30-day revenue lift from the best non-control variation vs. control, or `null` when there is insufficient data) plus distribution and ordering helpers such as `audienceOrder`, `histogram`, `kde`, and `cdf`.'
      deprecated: true
      parameters:
      - in: query
        name: graphs
        schema:
          description: 'Comma-separated list of graph IDs to include in response. Applies to "view=overview" and "view=audience" requests. On this deprecated GET endpoint an unrecognized ID is silently ignored and "graphs" comes back empty; the POST variant rejects it with a 400 instead.  Available options:


            - abandoned_cart_rate

            - abandoned_checkout_rate

            - add_to_cart_rate

            - avg_discount_per_all_orders

            - avg_discount_per_discounted_order

            - avg_product_revenue_per_unit

            - avg_units_per_order

            - checkout_address_submitted_rate

            - checkout_begin_rate

            - checkout_enter_contact_info_rate

            - conversion_rate

            - net_product_revenue_per_order

            - net_revenue_from_post_purchase_offer

            - net_revenue_from_upsell

            - net_revenue_per_order

            - net_revenue_per_visitor

            - net_shipping_revenue_per_order

            - pct_orders_free_shipping

            - pct_orders_with_post_purchase_offer

            - pct_orders_with_upsell

            - pct_subscription_orders

            - profit_per_order

            - profit_per_visitor

            - subscription_orders_per_visitor

            - subscription_product_revenue_per_order

            - subscription_profit_per_visitor

            - subscription_revenue_per_order

            - subscription_revenue_per_visitor

            - view_collection_page_rate

            - view_product_page_rate'
          type: string
        description: 'Comma-separated list of graph IDs to include in response. Applies to "view=overview" and "view=audience" requests. On this deprecated GET endpoint an unrecognized ID is silently ignored and "graphs" comes back empty; the POST variant rejects it with a 400 instead.  Available options:


          - abandoned_cart_rate

          - abandoned_checkout_rate

          - add_to_cart_rate

          - avg_discount_per_all_orders

          - avg_discount_per_discounted_order

          - avg_product_revenue_per_unit

          - avg_units_per_order

          - checkout_address_submitted_rate

          - checkout_begin_rate

          - checkout_enter_contact_info_rate

          - conversion_rate

          - net_product_revenue_per_order

          - net_revenue_from_post_purchase_offer

          - net_revenue_from_upsell

          - net_revenue_per_order

          - net_revenue_per_visitor

          - net_shipping_revenue_per_order

          - pct_orders_free_shipping

          - pct_orders_with_post_purchase_offer

          - pct_orders_with_upsell

          - pct_subscription_orders

          - profit_per_order

          - profit_per_visitor

          - subscription_orders_per_visitor

          - subscription_product_revenue_per_order

          - subscription_profit_per_visitor

          - subscription_revenue_per_order

          - subscription_revenue_per_visitor

          - view_collection_page_rate

          - view_product_page_rate'
      - in: query
        name: graphOutput
        schema:
          default: png
          description: Output format for graph images. 'png' (default) uploads to S3 and returns a URL. 'base64' returns the raw base64-encoded PNG data inline.
          type: string
          enum:
          - png
          - base64
        description: Output format for graph images. 'png' (default) uploads to S3 and returns a URL. 'base64' returns the raw base64-encoded PNG data inline.
      - in: query
        name: view
        schema:
          default: overview
          description: Resource view to analyze. Supported values are 'overview' for variation-level metrics, 'audience' for a breakdown by the selected audience dimension, and 'post_test' for post-test metrics (customers who converted during the test, tracked by their purchase behavior after that conversion, split by variation).
          type: string
          enum:
          - overview
          - audience
          - post_test
        description: Resource view to analyze. Supported values are 'overview' for variation-level metrics, 'audience' for a breakdown by the selected audience dimension, and 'post_test' for post-test metrics (customers who converted during the test, tracked by their purchase behavior after that conversion, split by variation).
      - in: query
        name: audience
        schema:
          description: Audience breakdown dimension. Required when `view` is `audience`. Optional when `view` is `post_test` (returns the post-test breakdown by the selected dimension). Not allowed when `view` is `overview`. Use one of the supported audience fields such as `device_type`, `visitor_type`, or `source_channel`.
          type: string
          enum:
          - device_type
          - visitor_type
          - source_channel
          - source_site
          - country_code
          - landing_page_full_path
        description: Audience breakdown dimension. Required when `view` is `audience`. Optional when `view` is `post_test` (returns the post-test breakdown by the selected dimension). Not allowed when `view` is `overview`. Use one of the supported audience fields such as `device_type`, `visitor_type`, or `source_channel`.
      - in: query
        name: analyticsViewType
        schema:
          description: Optional analytics view preset used by the backend when building the analysis request.
          type: string
          enum:
          - test_orders_only
          - sitewide_orders
          - none
        description: Optional analytics view preset used by the backend when building the analysis request.
      - in: query
        name: end
        schema:
          description: Optional analysis end timestamp as a 10-digit Unix epoch string in seconds (not milliseconds).
          type: string
        description: Optional analysis end timestamp as a 10-digit Unix epoch string in seconds (not milliseconds).
      - in: query
        name: start
        schema:
          description: Optional analysis start timestamp as a 10-digit Unix epoch string in seconds (not milliseconds).
          type: string
        description: Optional analysis start timestamp as a 10-digit Unix epoch string in seconds (not milliseconds).
      responses:
        '200':
          description: OK
          headers:
            access-control-allow-origin:
              schema:
                type: string
              description: CORS allow-origin header.
            access-control-allow-credentials:
              schema:
                type: string
              description: CORS allow-credentials header.
            content-type:
              schema:
                type: string
              description: Response content type.
            Timing-Allow-Origin:
              schema:
                type: string
              description: Allowed origin for Timing headers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetId:
                    type: string
                    enum:
                    - order_line_items
                    - orders
                    - aiProfit
                    - variation_overview
                    - variation_audience
                    - variation_timeseries_discrete
                    - variation_timeseries_cumulative
                    - experience_countries
                    - variation_shipping_method
                    - variation_histogram
                    - variation_products
                    - variation_product_groups
                    - variation_order_unit_mix
                    - custom_events_plugin
                    - custom_events_server
                    - order_reconciliation
                    - order_reconciliation_export
                    - experience_session_order
                    - timeseries
                    - country_codes
                    - snapshots
                    - experience_shipping_methods
                    - timeseries_audience
                    - snapshots_audience
                    - holiday_benchmarking_single_day
                    - holiday_benchmarking_multiple_days
                    - order_distribution_histogram
                    - order_distribution_unit_mix
                    - conversion_snapshots
                    - conversion_funnel
                    - conversion_timeseries
                    - variation_post_metrics
                    - variation_post_metrics_audience
                  latestRunTs:
                    type: number
                  cogsConfigured:
                    description: Whether cost of goods sold (COGS) is configured for the store (any revenue has COGS data). When false, all profit metric values are null because they cannot be computed; use revenue metrics instead. Only present when the request includes a profit metric.
                    type: boolean
                  cogsCoveragePct:
                    description: Fraction of revenue (0-1) backed by line items that have COGS data. 0 means profit metrics are unavailable and returned as null. A value between 0 and 1 means profit is based on partial COGS coverage; 1 means full coverage. Only present when the request includes a profit metric.
                    type: number
                  metrics:
                    type: array
                    items: {}
                    description: "Array of metric objects. Each metric object may contain the following fields (all optional):\n\n**Dimension Fields:**\n- variation_id (string, UUID): The variation identifier\n- dt (string): Timestamp for time series data\n- audience (string): Audience segment identifier\n\n**Metric Fields (alphabetical):**\n- abandoned_cart_rate: Rate of abandoned carts\n- abandoned_checkout_rate: Rate of abandoned checkouts\n- add_to_cart_rate: Add to cart rate\n- avg_discount_per_all_orders: Average discount amount across all orders\n- avg_discount_per_discounted_order: Average discount amount for orders with discounts\n- avg_product_revenue_per_unit: Average revenue per product unit\n- avg_units_per_order: Average number of units per order\n- checkout_address_submitted_rate: Rate of checkouts with address submitted\n- checkout_begin_rate: Checkout initiation rate\n- checkout_enter_contact_info_rate: Rate of checkouts with contact info entered\n- conversion_rate: Conversion rate metric with statistical details\n- gross_profit_per_order: Gross profit per order. Requires COGS to be configured. Null when COGS are not configured (cogsConfigured is false). Based on partial COGS coverage when cogsCoveragePct is between 0 and 1.\n- gross_profit_per_visitor: Gross profit per visitor. Requires COGS to be configured. Null when COGS are not configured (cogsConfigured is false). Based on partial COGS coverage when cogsCoveragePct is between 0 and 1.\n- n_orders: Number of orders\n- n_visitors: Number of visitors\n- net_product_revenue_per_order: Average product revenue per order\n- net_revenue: Total net revenue\n- net_revenue_per_order: Average revenue per order\n- net_revenue_per_visitor: Average revenue per visitor (RPV).\n- net_shipping_revenue_per_order: Average shipping revenue per order\n- pct_orders_free_shipping: Percentage of orders with free shipping\n- pct_subscription_orders: Percentage of orders that are subscriptions\n- subscription_gross_profit_per_visitor: Gross profit from subscriptions per visitor. Requires COGS to be configured. Null when COGS are not configured (cogsConfigured is false).\n- subscription_orders_per_visitor: Subscription orders per visitor\n- subscription_revenue_per_order: Revenue from subscriptions per order\n- subscription_revenue_per_visitor: Revenue from subscriptions per visitor\n- view_collection_page_rate: Collection page view rate\n- view_product_page_rate: Product page view rate\n\n**Funnel visitor counts (returned by view=overview):**\n- n_visitors_viewed_product_page: Visitors who viewed a product page\n- n_visitors_viewed_collection_page: Visitors who viewed a collection page\n- n_visitors_added_to_cart: Visitors who added to cart\n- n_visitors_checkout_started: Visitors who started checkout\n- n_visitors_checkout_contact_info_submitted: Visitors who submitted contact info\n- n_visitors_checkout_address_info_submitted: Visitors who submitted address info\n- n_visitors_abandoned_cart: Visitors who abandoned a cart\n- n_visitors_abandoned_checkout: Visitors who abandoned a checkout\n- n_visitors_ordered: Visitors who placed an order\n\n**Absolute totals (returned by view=overview):**\n- net_product_revenue: Total net product revenue\n- gross_profit: Total gross profit. Requires COGS to be configured; null when cogsConfigured is false.\n- total_units: Total units sold\n- total_discount: Total discount amount\n- n_orders_discounted: Number of orders carrying a discount\n- pct_revenue_with_cogs: Fraction of revenue backed by line items with COGS data\n- n_subscription_orders: Number of subscription orders\n- subscription_product_revenue: Product revenue from subscription orders\n- subscription_units: Units sold in subscription orders\n\nNOTE: this list documents the commonly returned fields, but the response is driven by the store's configured metric catalogue and by the requested view, so additional metric keys may be present. Clients should tolerate unknown keys rather than validating against a closed set.\n\nEach statistical metric in the response contains:\n- value (number): The metric value\n- ci_low (number): Lower bound of the 95% confidence interval\n- ci_high (number): Upper bound of the 95% confidence interval\n- plus_minus (number): Half-width of the 95% confidence interval, i.e., (ci_high - ci_low) / 2\n- p2bb (number, 0-1): Probability to be Best\n- p2bc (number, 0-1): Probability to Beat Control\n- uplift (object): Relative lift over the control variation. Contains:\n  - value (number): The relative lift (e.g., 0.12 = +12%)\n  - ci_low (number): Lower bound of the 95% confidence interval for the uplift\n  - ci_high (number): Upper bound of the 95% confidence interval for the uplift\n  - plus_minus (number): Half-width of the uplift's 95% confidence interval\n\nNote: p2bc and uplift are relative to the control variation and appear only on non-control variations; they are absent on the control."
                  audienceOrder: {}
                  histogram: {}
                  kde: {}
                  cdf: {}
                  variations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                          description: Server-generated. Read-only.
                        experienceId:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                          description: References the parent experience.
                        name:
                          type: string
                          description: Display name (e.g., 'Control', 'Variant A'). Unique within the experience.
                        percentage:
                          type: number
                          description: Traffic allocation weight. All percentages across sibling variations must sum to 100.
                        isControl:
                          default: false
                          description: The baseline variation all others are measured against. Exactly one per experience.
                          type: boolean
                        order:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                          description: Display order in the analytics dashboard. 0-indexed.
                        priceChange:
                          description: Price adjustment amount for pricing-type experiences. Positive increases price, negative discounts. Use priceChange for simple price A/B tests; use offer for structured discount campaigns (tiered, BOGO, free shipping).
                          anyOf:
                          - type: string
                          - type: 'null'
                        priceChangeUnit:
                          description: 'How priceChange is applied: as a percentage of the original price or a fixed monetary amount.'
                          anyOf:
                          - type: string
                            enum:
                            - percent
                            - dollar
                          - type: 'null'
                        priceRoundingType:
                          description: Rounding strategy applied after priceChange (e.g., round up, round down, charm pricing).
                          anyOf:
                          - type: string
                            enum:
                            - none
                            - nearest
                            - up
                            - down
                          - type: 'null'
                        priceRoundingAmount:
                          description: Target value for rounding (e.g., 0.99 for charm pricing like $X.99).
                          anyOf:
                          - type: string
                          - type: 'null'
                        onsiteEdits:
                          default: []
                          description: DOM content modifications (text, HTML, image swaps, element removal). For CSS styling changes, use onsiteInjections instead.
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                description: Server-generated. Read-only.
                              onsiteEditType:
                                description: Content modification strategy (html, text, image, or hide).
                                anyOf:
                                - type: string
                                  enum:
                                  - html
                                  - text
                                  - image
                                  - hide
                                - type: 'null'
                              variationId:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                description: References the parent variation.
                              find:
                                anyOf:
                                - type: string
                                - type: 'null'
                                description: Pattern to locate on the page. Interpreted as regex when isRegex is true.
                              title:
                                description: Dashboard label for identifying this edit.
                                anyOf:
                                - type: string
                                - type: 'null'
                              isRegex:
                                default: false
                                description: When true, 'find' is treated as a regular expression.
                                type: boolean
                              replace:
                                default: ''
                                description: 'Replacement content. Interpretation depends on onsiteEditType: HTML markup, plain text, or image URL.'
                                type: string
                              querySelectors:
                                default:
                                - ''
                                description: CSS selectors scoping which DOM elements this edit targets (e.g., '.product-title').
                                type: array
                                items:
                                  type: string
                              skip:
                                default: false
                                description: When true, this edit is temporarily disabled without being deleted.
                                type: boolean
                              remove:
                                default: false
                                description: When true, the matched element is removed from the DOM instead of having its content replaced.
                                type: boolean
                              groupId:
                                description: Groups related edits together so they can be managed as a unit.
                                type: string
                              isHtml:
                                default: false
                                type: boolean
                              isImage:
                                default: false
                                type: boolean
                              insertType:
                                anyOf:
                                - type: string
                                  enum:
                                  - beforebegin
                                  - afterbegin
                                  - beforeend
                                  - afterend
                                - type: 'null'
                                description: DOM insertion position relative to the target (beforebegin, afterbegin, beforeend, afterend). Null means content replacement.
                              createdAtUrl:
                                anyOf:
                                - type: string
                                - type: 'null'
                                description: Server-generated. Read-only. Storefront URL where this edit was originally created via the visual editor.
                              createdAtTs:
                                description: Server-generated. Read-only. Unix timestamp in seconds.
                                anyOf:
                                - type: number
                                - type: 'null'
                              imageSearchUrl:
                                anyOf:
                                - type: string
                                - type: 'null'
                                description: URL pathname for locating images to replace. When set, images are found by URL match; when null, querySelectors is used instead.
                              source:
                                anyOf:
                                - type: string
                                  enum:
                                  - ai
                                - type: 'null'
                            required:
                            - id
                            - variationId
                            - find
                            - isRegex
                            - replace
                            - querySelectors
                            - skip
                            - remove
                            - isHtml
                            - isImage
                            - insertType
                            additionalProperties: false
                        onsiteInjections:
                          description: CSS styling and custom JS injection. At most one per variation. For DOM content changes (text, images, HTML), use onsiteEdits instead.
                          anyOf:
                          - type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                description: Server-generated. Read-only.
                              variationId:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                description: References the parent variation.
                              customCss:
                                description: CSS injected globally on the page when this variation is active.
                                anyOf:
                                - type: string
                                - type: 'null'
                              customJs:
                                description: JavaScript executed on the page. Execution timing controlled by jsInjectionMode.
                                anyOf:
                                - type: string
                                - type: 'null'
                              jsInjectionMode:
                                type: object
                                properties:
                                  type:
                                    default: immediately
                                    description: Execution timing for injected JS. When 'timeout', the timeout field specifies the delay.
                                    type: string
                                    enum:
                                    - immediately
                                    - onWindowLoad
                                    - timeout
                                  timeout:
                                    description: Delay in milliseconds before JS execution. Only relevant when type is 'timeout'.
                                    anyOf:
                                    - type: number
                                    - type: string
                                required:
                                - type
                                additionalProperties: false
                                description: 'Controls when customJs runs: immediately on load, after window load, or after a configurable delay.'
                              source:
                                anyOf:
                                - type: string
                                  enum:
                                  - ai
                                - type: 'null'
                            required:
                            - id
                            - variationId
                            - jsInjectionMode
                            additionalProperties: false
                          - type: 'null'
                        offer:
                          description: Structured discount configuration (tiered volume discounts, cart-level discounts, gift-with-purchase, free shipping). Use offer for campaign/discount experiences; use priceChange for simple price A/B tests.
                          anyOf:
                          - type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                description: Server-generated. Read-only.
                              variationId:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                description: References the parent variation this offer belongs to.
                              enabled:
                                default: false
                                description: Whether the offer is actively applying discounts to customers on the storefront.
                                type: boolean
                              isTest:
                                default: false
                                description: When true, the offer exists in draft mode and is not applied to customers.
                                type: boolean
                              isArchived:
                                default: false
                                description: Whether the offer has been archived and is no longer active.
                                type: boolean
                              name:
                                type: string
                                description: Internal label for identifying the offer in dashboards.
                              unitType:
                                default: dollar
                                description: 'Threshold basis for tiered discounts: per-item quantity or monetary amount spent.'
                                type: string
                                enum:
                                - unit
                                - dollar
                              discountType:
                                default: dollar
                                description: How the discount value is calculated (e.g., percentage off, fixed amount off).
                                type: string
                                enum:
                                - percentage
                                - dollar
                              tiers:
                                default: []
                                description: Volume discount tiers ordered by threshold ascending (e.g., buy 2 = 10% off, buy 3 = 15% off).
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                      pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                    minimumUnits:
                                      default: 1
                                      type: number
                                    maximumUnits:
                                      default: 1
                                      type: number
                                    unitDiscount:
                                      default: 1
                                      type: number
                                    discountTitle:
                                      default: null
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    giftWithPurchaseTitle:
                                      default: null
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    isFreeShipping:
                                      default: false
                                      type: boolean
                                    isGiftWithPurchase:
                                      default: false
                                      type: boolean
                                    giftWithPurchaseProductId:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    giftWithPurchaseVariantId:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    giftWithPurchaseVariantIds:
                                      type: array
                                      items:
                                        type: string
                                    autoAddGiftWithPurchase:
                                      default: false
                                      type: boolean
                                    giftWithPurchaseHandle:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                  required:
                                  - id
                                  - minimumUnits
                                  - maximumUnits
                                  - unitDiscount
                                  - discountTitle
                                  - giftWithPurchaseTitle
                                  - isFreeShipping
                                  - isGiftWithPurchase
                                  - giftWithPurchaseVariantIds
                                  - autoAddGiftWithPurchase
                                  additionalProperties: false
                              maximumDollarDiscount:
                                description: Hard cap on the total dollar discount. Null means no cap is applied.
                                anyOf:
                                - type: number
                                - type: 'null'
                              discountApplicationType:
                                type: string
                                enum:
                                - tieredDiscount
                                - cartDiscount
                                - freeGift
                                - freeShipping
                                - ''
                                description: Core discount mechanic (tiered volume, flat cart-level, gift-with-purchase, or free shipping).
                              discountApplicationMethod:
                                type: string
                                enum:
                                - perItem
                                - perOrder
                                description: Whether the discount applies per individual item or to the entire order.
                              combinesWithIntelligems:
                                type: boolean
                                description: Whether this offer stacks with other active Intelligems discounts.
                              combinesWithShopify:
                                type: boolean
                                description: Whether this offer stacks with native Shopify discount codes.
                              shouldRejectCodes:
                                type: boolean
                                description: When true, manual discount codes entered at checkout are rejected while this offer is active.
                              shippingDiscount:
                                anyOf:
                                - type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                      pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                    discountType:
                                      type: string
                                      enum:
                                      - percentage
                                      - dollar
                                    unitDiscount:
                                      type: number
                                    rateFilter:
                                      anyOf:
                                      - anyOf:
                                        - type: object
                                          properties:
                                            type:
                                              type: string
                                              const: amount
                                            amount:
                                              type: number
                                          required:
                                          - type
                                          additionalProperties: false
                                        - type: object
                                          properties:
                                            type:
                                              type: string
                                              const: name
                                            rules:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  id:
                                                    type: string
                                                  operator:
                                                    type: string
                                                    enum:
                                                    - is
                                                    - contains
                                                    - isNot
                                                    - doesNotContain
                                                    - startsWith
                                                    - doesNotStartWith
                                                  name:
                                                    type: string
                                                required:
                                                - id
                                                - operator
                                                - name
                                                additionalProperties: false
                                          required:
                                          - type
                                          - rules
                                          additionalProperties: false
                                      - type: 'null'
                                    countryFilter:
                                      anyOf:
                                      - type: object
                                        properties:
                                          allow:
                                            type: array
                                            items:
                                              type: string
                                          exclude:
                                            type: array
                                            items:
                                              type: string
                                        additionalProperties: false
                                      - type: 'null'
                                    discountLabel:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                  required:
                                  - id
                                  - discountType
                                  - unitDiscount
                                  - rateFilter
                                  - countryFilter
                                  - discountLabel
                                  additionalProperties: false
                                - type: 'null'
                                description: Shipping discount details. Only present when discountApplicationType is freeShipping.
                              requireSameItem:
                                default: false
                                description: 'For tiered discounts: when true, only multiples of the same product count toward thresholds.'
                                type: boolean
                              subscriptionApplicationType:
                                default: oneTime
                                description: 'Controls which purchase types this offer applies to: ''oneTime'' (one-time purchases only), ''firstSub'' (first subscription orders only), or ''oneTimeAndFirstSub'' (both one-time and first subscription orders).'
                                type: string
                                enum:
                                - oneTime
                                - firstSub
                                - oneTimeAndFirstSub
                            required:
                            - id
                            - variationId
                            - enabled
                            - isTest
                            - isArchived
                            - name
                            - unitType
                            - discountType
                            - tiers
                            - discountApplicationType
                            - discountApplicationMethod
                            - combinesWithIntelligems
                            - combinesWithShopify
                            - shouldRejectCodes
                            - shippingDiscount
                            - requireSameItem
                            - subscriptionApplicationType
                            additionalProperties: false
                          - type: 'null'
                        offerId:
                          description: Server-generated. Read-only. References the associated offer. Populated when offer is set.
                          anyOf:
                          - type: string
                            format: uuid
                            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                          - type: 'null'
                        shippingRateGroups:
                          description: Shipping rate overrides. Only populated for shipping test experiences.
                          default: []
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                              groupType:
                                type: string
                                enum:
                                - flatRate
                                - flatRateWithThreshold
                                - thresholdOnly
                                - tieredByPriceOrWeight
                                - custom
                              position:
                                type: number
                              rates:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                      pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                    name:
                                      type: string
                                    amount:
                                      type: number
                                    rateCode:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    rateType:
                                      type: string
                                      enum:
                                      - amount
                                      - threshold
                                      - tier
                                    currency:
                                      type: string
                                      enum:
                                      - AED
                                      - AFN
                                      - ALL
                                      - AMD
                                      - ANG
                                      - AOA
                                      - ARS
                                      - AUD
                                      - AWG
                                      - AZN
                                      - BAM
                                      - BBD
                                      - BDT
                                      - BGN
                                      - BIF
                                      - BMD
                                      - BND
                                      - BOB
                                      - BRL
                                      - BSD
                                      - BWP
                                      - BZD
                                      - CAD
                                      - CDF
                                      - CHF
                                      - CLP
                                      - CNY
                                      - COP
                                      - CRC
                                      - CVE
                                      - CZK
                                      - DJF
                                      - DKK
                                      - DOP
                                      - DZD
                                      - EGP
                                      - ETB
                                      - EUR
                                      - FJD
                                      - FKP
                                      - GBP
                                      - GEL
                                      - GIP
                                      - GMD
                                      - GNF
                                      - GTQ
                                      - GYD
                                      - HKD
                                      - HNL
                                      - HRK
                                      - HTG
                                      - HUF
                                      - IDR
                                      - ILS
                                      - INR
                                      - ISK
                                      - JMD
                                      - JPY
                                      - KES
                                      - KGS
                                      - KHR
                                      - KMF
                                      - KRW
                                      - KYD
                                      - KZT
                                      - LAK
                                      - LBP
                                      - LKR
                                      - LRD
                                      - LSL
                                      - MAD
                                      - MDL
                                      - MGA
                                      - MKD
                                      - MMK
                                      - MNT
                                      - MOP
                                      - MUR
                                      - MVR
                                      - MWK
                                      - MXN
                                      - MYR
                                      - MZN
                                      - NAD
                                      - NGN
                                      - NIO
                                      - NOK
                                      - NPR
                                      - NZD
                                      - PAB
                                      - PEN
                                      - PGK
                                      - PHP
                                      - PKR
                                      - PLN
                                      - PYG
                                      - QAR
                                      - RON
                                      - RSD
                                      - RUB
                                      - RWF
                                      - SAR
                                      - SBD
                                      - SCR
                                      - SEK
                                      - SGD
                                      - SHP
                                      - SLL
                                      - SRD
                                      - STD
                                      - SZL
                                      - THB
                                      - TJS
                                      - TOP
                                      - TRY
                                      - TTD
                                      - TWD
                                      - TZS
                                      - UAH
                                      - UGX
                                      - USD
                                      - UYU
                                      - UZS
                                      - VND
                                      - VUV
                                      - WST
                                      - XAF
                                      - XCD
                                      - XOF
                                      - XPF
                                      - YER
                                      - ZAR
                                      - ZMW
                                    condition:
                                      anyOf:
                                      - type: object
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                          min:
                                            default: 0
                                            anyOf:
                                            - anyOf:
                                              - type: number
                                              - type: string
                                            - type: 'null'
                                          max:
                                            anyOf:
                                            - anyOf:
                                              - type: number
                                              - type: string
                                            - type: 'null'
                                          conditionType:
                                            type: string
                                            enum:
                                            - currency
                                            - weight
                                          unit:
                                            anyOf:
                                            - type: string
                                              enum:
                                              - g
                                              - kg
                                              - lb
                                              - oz
                                            - type: 'null'
                                        required:
                                        - min
                                        - conditionType
                                        additionalProperties: false
                                      - type: 'null'
                                    description:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                  required:
                                  - name
                                  - amount
                                  - rateType
                                  - currency
                                  additionalProperties: false
                              variationId:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                            required:
                            - id
                            - groupType
                            - position
                            - rates
                            - variationId
                            additionalProperties: false
                        excludeProducts:
                          description: When true, specific products are excluded from price changes. Use excludeProducts when most products should be tested and only a few excluded. Mutually exclusive with includeProducts.
                          default: false
                          type: boolean
                        includeProducts:
                          description: When true, only specific products receive price changes. Use includeProducts when only a few products should be tested. Mutually exclusive with excludeProducts.
                          default: false
                          type: boolean
                        testExperienceId:
                          description: Links to another experience for advanced multi-experience configurations.
                          anyOf:
                          - type: string
                          - type: 'null'
                        functionSyncError:
                          default: false
                          description: Server-generated. Read-only. Indicates a sync failure with Shopify Functions for this variation's discount.
                          type: boolean
                        redirects:
                          description: URL redirect rules for content/url experiences.
                          default: []
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                description: Server-generated. Read-only.
                              group:
                                type: number
                                description: Numeric group for organizing related redirects. Redirects sharing an originUrl should share a group number.
                              variationId:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                description: References the parent variation.
                              originUrl:
                                type: string
                                description: URL pattern matched against visitor page URLs. Matching behavior depends on the 'filter' field.
                              destinationUrl:
                                description: Target URL visitors are sent to. Used when redirectType is 'fullReplacement'.
                                anyOf:
                                - type: string
                                - type: 'null'
                              queryParams:
                                default: []
                                description: Key-value pairs appended to the destination URL as query parameters.
                                type: array
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                      description: Query parameter name appended to the destination URL.
                                    value:
                                      type: string
                                      description: Query parameter value.
                                  required:
                                  - key
                                  - value
                                  additionalProperties: false
                              skip:
                                type: boolean
                                description: When true, this redirect is temporarily disabled.
                              isThemeTest:
                                type: boolean
                                description: True when this redirect tests alternate Shopify themes. Used with content/theme experiences.
                              isTemplateTest:
                                type: boolean
                                description: True when this redirect tests alternate Shopify templates. Used with content/template experiences.
                              templateType:
                                description: Shopify template type being tested (e.g., product, collection).
                                anyOf:
                                - type: string
                                  enum:
                                  - '404'
                                  - ''
                                  - article
                                  - blog
                                  - cart
                                  - collection
                                  - index
                                  - list-collections
                                  - page
                                  - password
                                  - product
                                  - search
                                - type: 'null'
                              templateSuffixes:
                                default: []
                                description: Alternate Shopify template suffixes being tested (e.g., 'alternate', 'new-layout').
                                anyOf:
                                - type: array
                                  items:
                                    type: string
                                - type: 'null'
                              redirectOnce:
                                default: false
                                description: When true, the redirect fires only once per visitor session to avoid redirect loops.
                                type: boolean
                              filter:
                                default: matchesExactly
                                description: Matching strategy for originUrl (e.g., exact match, contains, endsWith, regex).
                                type: string
                                enum:
                                - matchesExactly
                                - contains
                                - endsWith
                                - matchesRegex
                                - none
                              find:
                                description: Pattern to locate within the URL for partial replacement. Only used when redirectType is 'partialReplacement'.
                                anyOf:
                                - type: string
                                - type: 'null'
                              redirectType:
                                default: fullReplacement
                                description: fullReplacement navigates to destinationUrl; partialReplacement swaps only the 'find' match within the current URL.
                                type: string
                                enum:
                                - fullReplacement
                                - partialReplacement
                            required:
                            - id
                            - group
                            - variationId
                            - originUrl
                            - queryParams
                            - skip
                            - isThemeTest
                            - isTemplateTest
                            - templateSuffixes
                            - redirectOnce
                            - filter
                            - redirectType
                            additionalProperties: false
                        userInterfaces:
                          description: UI widget configurations displayed for this variation.
                          default: []
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                              isEnabled:
                                type: boolean
                              isArchived:
                                default: false
                                type: boolean
                              widget:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                  name:
                                    type: string
                                  enabledSitewide:
                                    default: false
                                    type: boolean
                                  parentId:
                                    anyOf:
                                    - type: string
                                      format: uuid
                                      pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                    - type: 'null'
                                  widgetType:
                                    type: string
                                    enum:
                                    - messageBoxPopup
                                    - messageBoxSlideOut
                                    - quantityButtons
                                    - discountProgressBar
                                    - shippingProgressBar
                                    - gwpVariantPicker
                                  config:
                                    type: object
                                    properties:
                                      desktop: {}
                                      mobile: {}
                                    additionalProperties: false
                                required:
                                - id
                                - name
                                - enabledSitewide
                                - widgetType
                                - config
                                additionalProperties: false
                              widgetId:
                                type: string
                                minLength: 1
                              category:
                                type: string
                                enum:
                                - quantityButtons
                                - progressBar
                                - messageBox
                                - gwpVariantPicker
                              variationId:
                                anyOf:
                                - type: string
                                  format: uuid
                                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                - type: 'null'
                              desktopVariables:
                                anyOf:
                                - {}
                                - type: 'null'
                              mobileVariables:
                                anyOf:
                                - {}
                                - type: 'null'
                              styleOverrides:
                                anyOf:
                                - {}
                                - type: 'null'
                            required:
                            - id
                            - isArchived
                            - widgetId
                            additionalProperties: false
                        checkoutBlocks:
                          description: Shopify checkout extensibility block configurations for this variation.
                          default: []
                          type: array
                          items:
                            oneOf:
                            - type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                  description: Server-generated. Read-only.
                                variationId:
                                  type: string
                                  format: uuid
                                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                  description: References the parent variation.
                                locationId:
                                  type: string
                                  description: Shopify checkout extensibility target location where the block renders.
                                blockType:
                                  type: string
                                  const: trustBadge
                                name:
[...]
