openapi: 3.1.0
info:
  title: Intelligems External Analytics Holiday Benchmark API
  version: v25-10-beta
  description: Programmatic access to manage Intelligems A/B tests, personalizations, and experiences, and to pull experiment and sitewide analytics for a Shopify store. Authenticate with an API key in the `intelligems-access-token` header.
  contact:
    name: Intelligems
    url: https://docs.intelligems.io/developer-resources/external-api
    email: sales@intelligems.io
servers:
- url: https://api.intelligems.io
  description: Production
security:
- accessToken: []
tags:
- name: Holiday Benchmark
  description: Event/holiday benchmark analytics.
paths:
  /v25-10-beta/analytics/event/snapshot:
    post:
      operationId: getHolidayBenchmarkSnapshot
      summary: Get holiday benchmark snapshot
      description: Retrieve holiday/event benchmark snapshot analytics.
      tags:
      - Holiday Benchmark
      requestBody:
        $ref: '#/components/requestBodies/JsonBody'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
  /v25-10-beta/analytics/event/timeseries:
    post:
      operationId: getHolidayBenchmarkTimeseries
      summary: Get holiday benchmark timeseries
      description: Retrieve holiday/event benchmark time-series analytics.
      tags:
      - Holiday Benchmark
      requestBody:
        $ref: '#/components/requestBodies/JsonBody'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ValidationError:
      description: Validation error (invalid query/body values). Per-field messages under properties.<field>.errors.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    RateLimited:
      description: Rate limit exceeded. See x-ratelimit-limit / x-ratelimit-remaining / x-ratelimit-reset headers.
      headers:
        x-ratelimit-limit:
          schema:
            type: integer
          description: Bucket size for the endpoint.
        x-ratelimit-remaining:
          schema:
            type: integer
          description: Remaining tokens in the current bucket.
        x-ratelimit-reset:
          schema:
            type: integer
          description: Unix timestamp (ms) at which the bucket next refills.
    Unauthorized:
      description: Unauthorized (invalid or missing API key).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
    OK:
      description: Success.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    ServerError:
      description: Internal server error.
  schemas:
    ValidationError:
      type: object
      description: Validation error envelope. Top-level errors[] is for request-level errors; per-field messages live under properties.<field>.errors.
      properties:
        errors:
          type: array
          items:
            type: string
        properties:
          type: object
          additionalProperties:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: string
    AuthError:
      type: object
      properties:
        error:
          type: string
          description: Error message, e.g. "Unauthorized" or "Unauthorized!".
  requestBodies:
    JsonBody:
      description: JSON request payload. Field-level schema is not published by Intelligems.
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: intelligems-access-token
      description: API key issued by Intelligems, sent in the intelligems-access-token header.
